# Data exploration: PROTEIN CONSUMPTION (PART 2)

- This notebook will explore the data regarding the protein consumption per country.


- The protein dataset has data of the average daily protein consumption (in grams) per country for the period 1961 -2013.


- The Part 2 will analyze the relation between the GDP and the protein consumption in the year 2013, which is our last year of data.


- Our objective is to analyze what percentage of countries with a high GDP consume high/low protein. We'll do the same analysis with low GDP countries.


- Due to the final query being long and complex we'll present the sequence of the main components part of the query and finally the full query.


- It present the following queries:  
  - Percentage of High/Low protein consumption in countries with high GDP  
  - Percentage of High/Low protein consumption in countries with low GDP

#### Connection to DB

In [32]:
import mysql.connector
%load_ext sql
%sql mysql+mysqldb://root:admin@localhost/food_stat

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Average GDP

First we'll classify each country with a higher or lower GDP (higher or lower in reference to the average GDP).

In [8]:
%%sql
SELECT ROUND(AVG(gdp_per_capita),2) as avggdp
FROM food_stat.protein_supply as t1
JOIN food_stat.annual_food_expenditure_gdp as t2
ON (t1.country = t2.country and t1.year = t2.year)
WHERE t1.code is NOT NULL and t1.year = 2013 and gdp_per_capita is NOT NULL

 * mysql+mysqldb://root:***@localhost/food_stat
1 rows affected.

[(14566.68,)]

#### Average Protein Consumption

Then we'll clasify each country with a higer or lower protein consuption (higher/lower in reference to the average protein consumption).

In [9]:
%%sql
SELECT ROUND(AVG(protein_supply_quantity),2) as avgprotein
FROM food_stat.protein_supply as t1
JOIN food_stat.annual_food_expenditure_gdp as t2
ON (t1.country = t2.country and t1.year = t2.year)
WHERE t1.code is NOT NULL and t1.year = 2013 and gdp_per_capita is NOT NULL

 * mysql+mysqldb://root:***@localhost/food_stat
1 rows affected.

[(81.17,)]

#### Countries with HIGH GDP

-Using the average GDP we can filter the countries that are equal or above our average GDP as countries with a HIGH GDP.

In [26]:
%%sql
SELECT DISTINCT pgtable.country,
                pgtable.gdp_per_capita
FROM
  (SELECT AVG(gdp_per_capita) AS avggdp
   FROM food_stat.protein_supply AS t1
   JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                        AND t1.year = t2.year)
   WHERE t1.code IS NOT NULL
     AND t1.year = 2013
     AND gdp_per_capita IS NOT NULL ) AS avggdptable,

  (SELECT t1.country,
          t1.year,
          t1.protein_supply_quantity,
          t2.gdp_per_capita
   FROM food_stat.protein_supply AS t1
   JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                        AND t1.year = t2.year)
   WHERE t1.code IS NOT NULL
     AND t1.year = 2013
     AND gdp_per_capita IS NOT NULL ) AS pgtable
WHERE pgtable.gdp_per_capita > avggdptable.avggdp;

 * mysql+mysqldb://root:***@localhost/food_stat
46 rows affected.

[('Australia', 68150.1),
 ('Austria', 50716.7),
 ('Bahamas', 28784.0),
 ('Barbados', 16451.3),
 ('Belgium', 46744.7),
 ('Bermuda', 99471.6),
 ('Brunei', 44740.9),
 ('Canada', 52635.2),
 ('Chile', 15842.9),
 ('Cyprus', 27729.2),
 ('Czechia', 20133.2),
 ('Denmark', 61191.2),
 ('Estonia', 19174.1),
 ('Finland', 49878.0),
 ('France', 42592.9),
 ('Germany', 46285.8),
 ('Greece', 21749.2),
 ('Iceland', 49805.0),
 ('Ireland', 51577.3),
 ('Israel', 36316.5),
 ('Italy', 35550.0),
 ('Japan', 40454.4),
 ('Kuwait', 49388.1),
 ('Latvia', 15122.7),
 ('Lithuania', 15729.7),
 ('Luxembourg', 113625.0),
 ('Malta', 24771.1),
 ('Netherlands', 52184.1),
 ('New Zealand', 42976.6),
 ('Norway', 102913.0),
 ('Oman', 20865.8),
 ('Portugal', 21647.0),
 ('Russia', 15974.6),
 ('Saint Kitts and Nevis', 16685.9),
 ('Saudi Arabia', 24845.1),
 ('Slovakia', 18260.0),
 ('Slovenia', 23496.6),
 ('South Korea', 27182.7),
 ('Spain', 29059.5),
 ('Sweden', 61126.9),
 ('Switzerland', 88109.5),
 ('Trinidad and Tobago', 20143.5),
 ('United Arab Emirates', 42412.6),
 ('United Kingdom', 43401.3),
 ('United States', 53106.5),
 ('Uruguay', 16973.7)]

#### Countries with HIGH GDP that consume HIGH PROTEIN

-Using our average GDP and our average of High protein we can filter the countries that are above both elements.

In [27]:
%%sql
SELECT DISTINCT pgtable.country,
                pgtable.gdp_per_capita,
                pgtable.protein_supply_quantity
FROM
  (SELECT AVG(gdp_per_capita) AS avggdp
   FROM food_stat.protein_supply AS t1
   JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                        AND t1.year = t2.year)
   WHERE t1.code IS NOT NULL
     AND t1.year = 2013
     AND gdp_per_capita IS NOT NULL ) AS avggdptable,

  (SELECT t1.country,
          t1.year,
          t1.protein_supply_quantity,
          t2.gdp_per_capita
   FROM food_stat.protein_supply AS t1
   JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                        AND t1.year = t2.year)
   WHERE t1.code IS NOT NULL
     AND t1.year = 2013
     AND gdp_per_capita IS NOT NULL ) AS pgtable,

  (SELECT AVG(protein_supply_quantity) AS avgprotein
   FROM food_stat.protein_supply AS t1
   JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                        AND t1.year = t2.year)
   WHERE t1.code IS NOT NULL
     AND t1.year = 2013
     AND gdp_per_capita IS NOT NULL ) AS avgproteintable
WHERE pgtable.gdp_per_capita > avggdptable.avggdp
  AND pgtable.protein_supply_quantity > avgproteintable.avgprotein;

 * mysql+mysqldb://root:***@localhost/food_stat
43 rows affected.

[('Australia', 68150.1, 106.28),
 ('Austria', 50716.7, 106.21),
 ('Bahamas', 28784.0, 86.62),
 ('Barbados', 16451.3, 88.24),
 ('Belgium', 46744.7, 99.59),
 ('Bermuda', 99471.6, 90.79),
 ('Brunei', 44740.9, 93.41),
 ('Canada', 52635.2, 104.95),
 ('Chile', 15842.9, 87.36),
 ('Czechia', 20133.2, 87.47),
 ('Denmark', 61191.2, 108.88),
 ('Estonia', 19174.1, 103.9),
 ('Finland', 49878.0, 117.72),
 ('France', 42592.9, 110.52),
 ('Germany', 46285.8, 101.59),
 ('Greece', 21749.2, 108.8),
 ('Iceland', 49805.0, 133.54),
 ('Ireland', 51577.3, 110.02),
 ('Israel', 36316.5, 128.14),
 ('Italy', 35550.0, 108.51),
 ('Japan', 40454.4, 87.73),
 ('Kuwait', 49388.1, 108.24),
 ('Latvia', 15122.7, 91.39),
 ('Lithuania', 15729.7, 124.49),
 ('Luxembourg', 113625.0, 113.88),
 ('Malta', 24771.1, 110.36),
 ('Netherlands', 52184.1, 111.72),
 ('New Zealand', 42976.6, 92.54),
 ('Norway', 102913.0, 110.9),
 ('Oman', 20865.8, 88.25),
 ('Portugal', 21647.0, 110.88),
 ('Russia', 15974.6, 102.84),
 ('Saudi Arabia', 24845.1, 91.63),
 ('Slovenia', 23496.6, 96.19),
 ('South Korea', 27182.7, 96.2),
 ('Spain', 29059.5, 104.88),
 ('Sweden', 61126.9, 107.72),
 ('Switzerland', 88109.5, 93.08),
 ('Trinidad and Tobago', 20143.5, 83.36),
 ('United Arab Emirates', 42412.6, 104.62),
 ('United Kingdom', 43401.3, 103.21),
 ('United States', 53106.5, 109.6),
 ('Uruguay', 16973.7, 92.44)]

#### Countries with HIGH GDP that consume LOW PROTEIN

-Using our average GDP and our average of High protein we can filter the countries that are above the average GDP but below the average protein consumption.

In [28]:
%%sql
SELECT DISTINCT pgtable.country,
                pgtable.gdp_per_capita,
                pgtable.protein_supply_quantity
FROM
  (SELECT AVG(gdp_per_capita) AS avggdp
   FROM food_stat.protein_supply AS t1
   JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                        AND t1.year = t2.year)
   WHERE t1.code IS NOT NULL
     AND t1.year = 2013
     AND gdp_per_capita IS NOT NULL ) AS avggdptable,

  (SELECT t1.country,
          t1.year,
          t1.protein_supply_quantity,
          t2.gdp_per_capita
   FROM food_stat.protein_supply AS t1
   JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                        AND t1.year = t2.year)
   WHERE t1.code IS NOT NULL
     AND t1.year = 2013
     AND gdp_per_capita IS NOT NULL ) AS pgtable,

  (SELECT AVG(protein_supply_quantity) AS avgprotein
   FROM food_stat.protein_supply AS t1
   JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                        AND t1.year = t2.year)
   WHERE t1.code IS NOT NULL
     AND t1.year = 2013
     AND gdp_per_capita IS NOT NULL ) AS avgproteintable
WHERE pgtable.gdp_per_capita > avggdptable.avggdp
  AND pgtable.protein_supply_quantity <= avgproteintable.avgprotein;

 * mysql+mysqldb://root:***@localhost/food_stat
3 rows affected.

[('Cyprus', 27729.2, 77.61),
 ('Saint Kitts and Nevis', 16685.9, 72.32),
 ('Slovakia', 18260.0, 72.51)]

#### Number of countries with a HIGH GDP that consume HIGH/LOW PROTEIN

-Once we have every country categorized we'll show the amount of countries corresponding to each classification of high/low protein consumption

In [23]:
%%sql
SELECT
  (SELECT count(*)
   FROM
     (SELECT pgtable.country
      FROM
        (SELECT AVG(gdp_per_capita) AS avggdp
         FROM food_stat.protein_supply AS t1
         JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                              AND t1.year = t2.year)
         WHERE t1.code IS NOT NULL
           AND t1.year = 2013
           AND gdp_per_capita IS NOT NULL ) AS avggdptable,

        (SELECT t1.country,
                t1.year,
                t1.protein_supply_quantity,
                t2.gdp_per_capita
         FROM food_stat.protein_supply AS t1
         JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                              AND t1.year = t2.year)
         WHERE t1.code IS NOT NULL
           AND t1.year = 2013
           AND gdp_per_capita IS NOT NULL ) AS pgtable,

        (SELECT AVG(protein_supply_quantity) AS avgprotein
         FROM food_stat.protein_supply AS t1
         JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                              AND t1.year = t2.year)
         WHERE t1.code IS NOT NULL
           AND t1.year = 2013
           AND gdp_per_capita IS NOT NULL ) AS avgproteintable
      WHERE pgtable.gdp_per_capita > avggdptable.avggdp
        AND pgtable.protein_supply_quantity <= avgproteintable.avgprotein ) AS subtotal1) AS HighGDP_LowPROTEIN,

  (SELECT count(*)
   FROM
     (SELECT pgtable.country
      FROM
        (SELECT AVG(gdp_per_capita) AS avggdp
         FROM food_stat.protein_supply AS t1
         JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                              AND t1.year = t2.year)
         WHERE t1.code IS NOT NULL
           AND t1.year = 2013
           AND gdp_per_capita IS NOT NULL ) AS avggdptable,

        (SELECT t1.country,
                t1.year,
                t1.protein_supply_quantity,
                t2.gdp_per_capita
         FROM food_stat.protein_supply AS t1
         JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                              AND t1.year = t2.year)
         WHERE t1.code IS NOT NULL
           AND t1.year = 2013
           AND gdp_per_capita IS NOT NULL ) AS pgtable,

        (SELECT AVG(protein_supply_quantity) AS avgprotein
         FROM food_stat.protein_supply AS t1
         JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                              AND t1.year = t2.year)
         WHERE t1.code IS NOT NULL
           AND t1.year = 2013
           AND gdp_per_capita IS NOT NULL ) AS avgproteintable
      WHERE pgtable.gdp_per_capita > avggdptable.avggdp
        AND pgtable.protein_supply_quantity > avgproteintable.avgprotein ) AS subtotal2) AS HighGDP_HighPROTEIN;

 * mysql+mysqldb://root:***@localhost/food_stat
1 rows affected.

[(3, 43)]

#### Percentage of countries with a HIGH GDP that consume HIGH/LOW PROTEIN

-Finally we'll present the percentage of countries that correspon to each category of high/low protein consumption.

In [24]:
%%sql
SELECT CONCAT(ROUND((
                       (SELECT count(*)
                        FROM
                          (SELECT pgtable.country
                           FROM
                             (SELECT AVG(gdp_per_capita) AS avggdp
                              FROM food_stat.protein_supply AS t1
                              JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                   AND t1.year = t2.year)
                              WHERE t1.code IS NOT NULL
                                AND t1.year = 2013
                                AND gdp_per_capita IS NOT NULL ) AS avggdptable,
                             (SELECT t1.country, t1.year, t1.protein_supply_quantity, t2.gdp_per_capita
                              FROM food_stat.protein_supply AS t1
                              JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                   AND t1.year = t2.year)
                              WHERE t1.code IS NOT NULL
                                AND t1.year = 2013
                                AND gdp_per_capita IS NOT NULL ) AS pgtable,
                             (SELECT AVG(protein_supply_quantity) AS avgprotein
                              FROM food_stat.protein_supply AS t1
                              JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                   AND t1.year = t2.year)
                              WHERE t1.code IS NOT NULL
                                AND t1.year = 2013
                                AND gdp_per_capita IS NOT NULL ) AS avgproteintable
                           WHERE pgtable.gdp_per_capita > avggdptable.avggdp
                             AND pgtable.protein_supply_quantity <= avgproteintable.avgprotein ) AS subtotal1) * 100 / count(*)), 2), '%') AS HighGDP_LowPROTEIN,
       CONCAT(ROUND ((
                        (SELECT count(*)
                         FROM
                           (SELECT pgtable.country
                            FROM
                              (SELECT AVG(gdp_per_capita) AS avggdp
                               FROM food_stat.protein_supply AS t1
                               JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                    AND t1.year = t2.year)
                               WHERE t1.code IS NOT NULL
                                 AND t1.year = 2013
                                 AND gdp_per_capita IS NOT NULL ) AS avggdptable,
                              (SELECT t1.country, t1.year, t1.protein_supply_quantity, t2.gdp_per_capita
                               FROM food_stat.protein_supply AS t1
                               JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                    AND t1.year = t2.year)
                               WHERE t1.code IS NOT NULL
                                 AND t1.year = 2013
                                 AND gdp_per_capita IS NOT NULL ) AS pgtable,
                              (SELECT AVG(protein_supply_quantity) AS avgprotein
                               FROM food_stat.protein_supply AS t1
                               JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                    AND t1.year = t2.year)
                               WHERE t1.code IS NOT NULL
                                 AND t1.year = 2013
                                 AND gdp_per_capita IS NOT NULL ) AS avgproteintable
                            WHERE pgtable.gdp_per_capita > avggdptable.avggdp
                              AND pgtable.protein_supply_quantity > avgproteintable.avgprotein ) AS subtotal1) * 100 / count(*)), 2), '%') AS HighGDP_HighPROTEIN
FROM
  (SELECT pgtable.country
   FROM
     (SELECT AVG(gdp_per_capita) AS avggdp
      FROM food_stat.protein_supply AS t1
      JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                           AND t1.year = t2.year)
      WHERE t1.code IS NOT NULL
        AND t1.year = 2013
        AND gdp_per_capita IS NOT NULL ) AS avggdptable,

     (SELECT t1.country,
             t1.year,
             t1.protein_supply_quantity,
             t2.gdp_per_capita
      FROM food_stat.protein_supply AS t1
      JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                           AND t1.year = t2.year)
      WHERE t1.code IS NOT NULL
        AND t1.year = 2013
        AND gdp_per_capita IS NOT NULL ) AS pgtable,

     (SELECT AVG(protein_supply_quantity) AS avgprotein
      FROM food_stat.protein_supply AS t1
      JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                           AND t1.year = t2.year)
      WHERE t1.code IS NOT NULL
        AND t1.year = 2013
        AND gdp_per_capita IS NOT NULL ) AS avgproteintable
   WHERE pgtable.gdp_per_capita > avggdptable.avggdp ) AS Subquery;

 * mysql+mysqldb://root:***@localhost/food_stat
1 rows affected.

[('6.52%', '93.48%')]

#### Percentage of countries with a LOW GDP that consume HIGH/LOW PROTEIN

-We'll use the same query structure to analyse the consumption of protein in the low gdp countries.

In [33]:
%%sql
SELECT CONCAT(ROUND((
                       (SELECT count(*)
                        FROM
                          (SELECT pgtable.country
                           FROM
                             (SELECT AVG(gdp_per_capita) AS avggdp
                              FROM food_stat.protein_supply AS t1
                              JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                   AND t1.year = t2.year)
                              WHERE t1.code IS NOT NULL
                                AND t1.year = 2013
                                AND gdp_per_capita IS NOT NULL ) AS avggdptable,
                             (SELECT t1.country, t1.year, t1.protein_supply_quantity, t2.gdp_per_capita
                              FROM food_stat.protein_supply AS t1
                              JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                   AND t1.year = t2.year)
                              WHERE t1.code IS NOT NULL
                                AND t1.year = 2013
                                AND gdp_per_capita IS NOT NULL ) AS pgtable,
                             (SELECT AVG(protein_supply_quantity) AS avgprotein
                              FROM food_stat.protein_supply AS t1
                              JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                   AND t1.year = t2.year)
                              WHERE t1.code IS NOT NULL
                                AND t1.year = 2013
                                AND gdp_per_capita IS NOT NULL ) AS avgproteintable
                           WHERE pgtable.gdp_per_capita <= avggdptable.avggdp
                             AND pgtable.protein_supply_quantity <= avgproteintable.avgprotein ) AS subtotal1) * 100 / count(*)), 2), '%') AS LowGDP_LowPROTEIN,
       CONCAT(ROUND ((
                        (SELECT count(*)
                         FROM
                           (SELECT pgtable.country
                            FROM
                              (SELECT AVG(gdp_per_capita) AS avggdp
                               FROM food_stat.protein_supply AS t1
                               JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                    AND t1.year = t2.year)
                               WHERE t1.code IS NOT NULL
                                 AND t1.year = 2013
                                 AND gdp_per_capita IS NOT NULL ) AS avggdptable,
                              (SELECT t1.country, t1.year, t1.protein_supply_quantity, t2.gdp_per_capita
                               FROM food_stat.protein_supply AS t1
                               JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                    AND t1.year = t2.year)
                               WHERE t1.code IS NOT NULL
                                 AND t1.year = 2013
                                 AND gdp_per_capita IS NOT NULL ) AS pgtable,
                              (SELECT AVG(protein_supply_quantity) AS avgprotein
                               FROM food_stat.protein_supply AS t1
                               JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                                                    AND t1.year = t2.year)
                               WHERE t1.code IS NOT NULL
                                 AND t1.year = 2013
                                 AND gdp_per_capita IS NOT NULL ) AS avgproteintable
                            WHERE pgtable.gdp_per_capita <= avggdptable.avggdp
                              AND pgtable.protein_supply_quantity > avgproteintable.avgprotein ) AS subtotal1) * 100 / count(*)), 2), '%') AS LowGDP_HighPROTEIN
FROM
  (SELECT pgtable.country
   FROM
     (SELECT AVG(gdp_per_capita) AS avggdp
      FROM food_stat.protein_supply AS t1
      JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                           AND t1.year = t2.year)
      WHERE t1.code IS NOT NULL
        AND t1.year = 2013
        AND gdp_per_capita IS NOT NULL ) AS avggdptable,

     (SELECT t1.country,
             t1.year,
             t1.protein_supply_quantity,
             t2.gdp_per_capita
      FROM food_stat.protein_supply AS t1
      JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                           AND t1.year = t2.year)
      WHERE t1.code IS NOT NULL
        AND t1.year = 2013
        AND gdp_per_capita IS NOT NULL ) AS pgtable,

     (SELECT AVG(protein_supply_quantity) AS avgprotein
      FROM food_stat.protein_supply AS t1
      JOIN food_stat.annual_food_expenditure_gdp AS t2 ON (t1.country = t2.country
                                                           AND t1.year = t2.year)
      WHERE t1.code IS NOT NULL
        AND t1.year = 2013
        AND gdp_per_capita IS NOT NULL ) AS avgproteintable
   WHERE pgtable.gdp_per_capita <= avggdptable.avggdp ) AS Subquery;

 * mysql+mysqldb://root:***@localhost/food_stat
1 rows affected.

[('66.12%', '33.88%')]

#### Conclusion

- In the second part of the protein consumption analysis we wanted to see if there was a relationship between the GDP of a country and it's protein consumption.


- When we analyze the HIGH GDP countries we found the majority 93,48% of it's countries consume a high amount of proteins (above the average). Only a few percent of the countries have a low consumption of proteins with 6,52%.


- Regarding the LOW GDP countries we found that the majority 66,12% of the countries consume a low protein diet (below the average). Only 1 in 3 of the low GDP countries consume a high protein diet.